<template>
  <div class="liquidity-page">
    <div class="liquidity-page__liquidity">
      <Liquidity @show="(component) => showModal(component)" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import Liquidity from '@/components/Liquidity.vue'

export default defineComponent({
  components: {
    Liquidity,
  },
  transition: {
    name: 'fade-to-top',
    mode: 'out-in',
  },
  setup(_: any, context: any) {
    const showModal: (a: string) => void = (component) => {
      context.emit('show', component)
    }

    return {
      showModal,
    }
  },
})
</script>

<style lang="scss" scoped>
.liquidity-page__liquidity {
  animation: $appear-animation;
}
</style>
