<template>
  <div class="swap-page">
    <div class="swap-page__exchange">
      <Exchange @show="(component) => showModal(component)" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import Exchange from '@/components/Exchange.vue'

export default defineComponent({
  components: {
    Exchange,
  },
  transition: {
    name: 'fade-to-top',
    mode: 'out-in',
  },
  setup(_: any, context: any) {
    const showModal: (a: string) => void = (component) => {
      context.emit('show', component)
    }

    return {
      showModal,
    }
  },
})
</script>

<style lang="scss" scoped>
.swap-page__exchange {
  animation: $appear-animation;
}
</style>
