<template>
  <div class="lists">
    <div class="lists__searchbar">
      <input
        type="text"
        class="lists__searchbar-input"
        placeholder="https:// or ipfs:// or ENS name"
      />
    </div>
    <ul class="lists__content-list">
      <li
        v-for="item in manageLists"
        :key="item.id"
        :class="{ 'lists__content-item': true, selected: item.selected }"
      >
        <div class="lists__content-item-main">
          <div class="lists__content-item-img-wrp">
            <img
              :src="require(`@/assets/images/${item.img}`)"
              class="lists__content-item-img"
            />
          </div>
          <div class="lists__content-item-text">
            <h3 class="lists__content-item-text-title">{{ item.title }}</h3>
            <h5 class="lists__content-item-text-subtitle">
              {{ item.subtitle }}
            </h5>
          </div>
        </div>
        <button
          :class="{
            'lists__item-switch-btn': true,
            selected: item.selected,
          }"
          @click.prevent="select(item)"
        >
          <span class="lists__item-switch-btn-slider" />
        </button>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@nuxtjs/composition-api'

interface ListItem {
  img: string
  title: string
  subtitle: string
  selected: boolean
  id: number
}

export default defineComponent({
  setup() {
    function lists() {
      const manageLists = ref<ListItem[]>([
        {
          img: 'list-item.png',
          title: 'PancakeSwap Extended',
          subtitle: '230 tokens',
          selected: false,
          id: 1,
        },
        {
          img: 'list-item.png',
          title: 'PancakeSwap Top 100',
          subtitle: '100 tokens',
          selected: false,
          id: 2,
        },
      ])

      const select: (a: ListItem) => void = (item) => {
        item.selected = !item.selected
      }

      return {
        manageLists,
        select,
      }
    }

    return {
      ...lists(),
    }
  },
})
</script>

<style lang="scss" scoped>
.lists__searchbar {
  margin-bottom: 20px;
}

.lists__searchbar-input {
  padding: 10px 15px;
  width: 100%;
  border: solid 2px map-get($main-colors, second);
  border-radius: 0.5rem;
}

.lists__content-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px;
  border: solid 1px rgba($color: map-get($main-colors, second), $alpha: 0.2);
  border-radius: 0.5rem;

  &:not(:last-of-type) {
    margin-bottom: 15px;
  }

  &.selected {
    border-color: map-get($main-colors, fourth);
    background: rgba($color: map-get($main-colors, fourth), $alpha: 0.2);
  }
}

.lists__content-item-main {
  display: flex;
  align-items: center;
}

.lists__content-item-img-wrp {
  width: 50px;
  margin-right: 10px;
}

.lists__content-item-img {
  width: 100%;
}

.lists__item-switch-btn {
  position: relative;

  width: 70px;
  height: 40px;
  background: map-get($main-colors, second);
  border-radius: 2rem;
  transition: 0.2s ease-in-out;

  &.selected {
    .lists__item-switch-btn-slider {
      left: calc(100% - 35px);
      background: map-get($main-colors, third);
    }
  }
}

.lists__item-switch-btn-slider {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);

  width: 30px;
  height: 30px;
  background: rgba($color: #fff, $alpha: 0.3);
  border-radius: 2rem;

  transition: left 0.2s ease-in-out;
}
</style>
