<template>
  <div class="tokens">
    <div class="tokens__searchbar">
      <input type="text" class="tokens__searchbar-input" placeholder="0x0000" />
    </div>
    <div class="tokens__amount">
      <h3 class="tokens__amount-title">{{ tokensAmount }} custom tokens</h3>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@nuxtjs/composition-api'

export default defineComponent({
  setup() {
    function tokens() {
      const tokensAmount = ref(0)

      return {
        tokensAmount,
      }
    }

    return {
      ...tokens(),
    }
  },
})
</script>

<style lang="scss" scoped>
.tokens__searchbar {
  margin-bottom: 20px;
}

.tokens__searchbar-input {
  padding: 10px 15px;
  width: 100%;
  border: solid 2px map-get($main-colors, second);
  border-radius: 0.5rem;
}
</style>
