<template>
  <div class="currency-form-item">
    <div class="currency-form-item__text">
      <span class="currency-form-item__text-label">{{ label }}</span>
      <input
        v-model.trim="content"
        type="number"
        class="currency-form-item__text-amount"
        placeholder="0.0"
        pattern="^[0-9]*[.,]?[0-9]*$"
      />
    </div>
    <div
      class="currency-form-item__select"
      @click.prevent="showModal('Select')"
    >
      <div class="currency-form-item__select-img-wrp">
        <img
          src="@/assets/images/coin.png"
          alt="Img"
          class="currency-form-item__select-img"
        />
      </div>
      <h3 class="currency-form-item__select-label">BNB</h3>
      <DropdownArrowIcon class="currency-form-item__select-icon" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from '@nuxtjs/composition-api'
import DropdownArrowIcon from '@/assets/icons/dropdown-arrow.svg?inline'

export default defineComponent({
  components: {
    DropdownArrowIcon,
  },
  props: {
    value: {
      type: String,
      required: false,
      default: '',
    },
    label: {
      type: String,
      required: true,
    },
  },
  setup(props: any, context: any) {
    function currencyFormItem() {
      const content = ref<string>(props.value)

      const showModal: (a: string) => void = (component) => {
        context.emit('show', component)
      }

      watch(content, () => {
        context.emit('input', content.value)
      })

      return {
        content,
        showModal,
      }
    }

    return {
      ...currencyFormItem(),
    }
  },
})
</script>

<style lang="scss" scoped>
.currency-form-item {
  padding: 20px;
  border-radius: 0.5rem;
  background: map-get($main-colors, second);

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.currency-form-item__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.currency-form-item__text-label {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  color: #fff;

  margin-bottom: 10px;
}

.currency-form-item__text-amount {
  font-size: 16px;
  color: rgba($color: #fff, $alpha: 0.5);

  width: 100%;
  background: transparent;
  border: none;
}

.currency-form-item__select {
  position: relative;
  display: flex;
  align-items: center;

  user-select: none;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: map-get($main-colors, second), $alpha: 0.2);
    opacity: 0;
    transition: 0.1s ease-in-out;
  }

  &:hover::before {
    opacity: 1;
  }

  &:active {
    transform: translateY(2px);
  }
}

.currency-form-item__select-img-wrp {
  width: 25px;
  margin-right: 5px;
}

.currency-form-item__select-img {
  width: 100%;
}

.currency-form-item__select-label {
  font-size: 18px;
  color: #fff;
  margin-right: 5px;
}

.currency-form-item__select-icon {
  width: 15px;
  height: auto;
  fill: #fff;
}
</style>
