<template>
  <div class="exchange">
    <header class="exchange__header">
      <div class="exchange__header-text">
        <h1 class="exchange__header-text-title">Exchange</h1>
        <h3 class="exchange__header-text-subtitle">
          Trade tokens in an instant
        </h3>
      </div>
      <div class="exchange__header-btns">
        <button
          class="exchange__header-btn"
          @click.prevent="showModal('Settings')"
        >
          <SettingsIcon class="exchange__header-btn-icon" />
        </button>
        <button
          class="exchange__header-btn"
          @click.prevent="showModal('History')"
        >
          <HistoryIcon class="exchange__header-btn-icon" />
        </button>
      </div>
    </header>
    <form method="POST" class="exchange__form" @submit.prevent="">
      <div class="exchange__form-content">
        <div class="exchange__currency-form-item">
          <CurrencyFormItem
            v-model="fromAmountContent"
            label="From"
            @show="(component) => showModal(component)"
          />
        </div>
        <div class="exchange__form-arrow-icon-wrp">
          <ArrowIcon class="exchange__form-arrow-icon" />
        </div>
        <div class="exchange__currency-form-item">
          <CurrencyFormItem
            v-model="toAmountContent"
            label="To"
            @show="(component) => showModal(component)"
          />
        </div>
      </div>
      <button
        class="exchange__form-btn"
        @click.prevent="showModal('ConnectWallet')"
      >
        Connect Wallet
      </button>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@nuxtjs/composition-api'
import CurrencyFormItem from '@/components/CurrencyFormItem.vue'
import ArrowIcon from '@/assets/icons/arrow.svg?inline'
import HistoryIcon from '@/assets/icons/history.svg?inline'
import SettingsIcon from '@/assets/icons/settings.svg?inline'

export default defineComponent({
  components: {
    SettingsIcon,
    HistoryIcon,
    ArrowIcon,
    CurrencyFormItem,
  },
  setup(_: any, context: any) {
    function exchange() {
      const fromAmountContent = ref('')
      const toAmountContent = ref('')

      const showModal: (a: string) => void = (component) => {
        context.emit('show', component)
      }

      return {
        fromAmountContent,
        toAmountContent,
        showModal,
      }
    }

    return {
      ...exchange(),
    }
  },
})
</script>

<style lang="scss" scoped>
.exchange {
  width: 500px;
  padding: 30px;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 8px 2px rgba($color: #000000, $alpha: 0.1);
}

// -------- Header -------- //
.exchange__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.exchange__header-text-title {
  font-size: 28px;
}

.exchange__header-text-subtitle {
  font-size: 20px;
  font-weight: 400;
}

.exchange__header-btns {
  display: flex;
  align-items: center;
}

.exchange__header-btn {
  width: 50px;
  height: 50px;
  border-radius: 0.3rem;
  background: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  &:not(:last-of-type) {
    margin-right: 10px;
  }

  &:hover {
    background: rgba($color: map-get($main-colors, second), $alpha: 0.1);
  }
}

.exchange__header-btn-icon {
  width: 25px;
  height: auto;
  fill: $main-text-color;
}

// -------- Form -------- //
.exchange__form-content {
  margin-bottom: 50px;
}

.exchange__currency-form-item {
  &:first-of-type {
    margin-bottom: 20px;
  }
}

.exchange__form-arrow-icon-wrp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.exchange__form-btn {
  position: relative;
  width: 100%;
  padding: 10px 25px;
  border-radius: 0.5rem;
  background: map-get($main-colors, third);
  box-shadow: 0 3px 5px 2px rgba($color: #000000, $alpha: 0.1);
  overflow: hidden;

  font-size: 20px;
  font-weight: 700;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #000000, $alpha: 0.1);
    opacity: 0;
    transition: 0.1s;
  }

  &:hover::before {
    opacity: 1;
  }

  &:active {
    transform: translateY(2px);
  }
}
</style>
