<template>
  <div class="liquidity">
    <header class="liquidity__header">
      <div v-if="isAddition" class="liquidity__header-text-addition">
        <button
          class="liquidity__header-text-btn"
          @click.prevent="closeAditionForm()"
        >
          <ArrowIcon class="liquidity__header-text-btn-icon" />
        </button>
        <div class="liquidity__header-text-addition-inner">
          <h1 class="liquidity__header-text-title">Add Liquidity</h1>
          <h3 class="liquidity__header-text-subtitle">
            Add liquidity to receive LP token
          </h3>
        </div>
      </div>
      <div v-else class="liquidity__header-text">
        <h1 class="liquidity__header-text-title">Liquidity</h1>
        <h3 class="liquidity__header-text-subtitle">
          Remove liquidity to receive token back
        </h3>
      </div>
      <div class="liquidity__header-btns">
        <button class="liquidity__header-btn">
          <SettingsIcon
            class="liquidity__header-btn-icon"
            @click.prevent="showModal('Settings')"
          />
        </button>
        <button
          class="liquidity__header-btn"
          @click.prevent="showModal('History')"
        >
          <HistoryIcon class="liquidity__header-btn-icon" />
        </button>
      </div>
    </header>
    <form method="POST" class="liquidity__form" @submit.prevent="">
      <div class="liquidity__form-content">
        <div v-if="isAddition" class="liquidity__form-add-new">
          <div class="liquidity__currency-form-item">
            <CurrencyFormItem
              label="Input"
              @show="(component) => showModal(component)"
            />
          </div>
          <div class="liquidity__form-plus-icon-wrp">
            <PlusIcon class="liquidity__form-plus-icon" />
          </div>
          <div class="liquidity__currency-form-item">
            <CurrencyFormItem
              label="Input"
              @show="(component) => showModal(component)"
            />
          </div>
        </div>
        <div v-else class="liquidity__form-prompt">
          <h3 class="liquidity__form-prompt-label">
            Connect to a wallet to view your liquidity.
          </h3>
        </div>
      </div>
      <div class="liquidity__form-bottom">
        <button
          v-if="isAddition"
          class="liquidity__form-btn"
          @click.prevent="showModal('ConnectWallet')"
        >
          Connect wallet
        </button>
        <button
          v-else
          class="liquidity__form-btn"
          @click.prevent="showAditionForm()"
        >
          Add Liquidity
        </button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@nuxtjs/composition-api'
import CurrencyFormItem from '@/components/CurrencyFormItem.vue'
import SettingsIcon from '@/assets/icons/settings.svg?inline'
import ArrowIcon from '@/assets/icons/arrow.svg?inline'
import HistoryIcon from '@/assets/icons/history.svg?inline'
import PlusIcon from '@/assets/icons/plus.svg?inline'

export default defineComponent({
  components: {
    CurrencyFormItem,
    SettingsIcon,
    HistoryIcon,
    ArrowIcon,
    PlusIcon,
  },
  setup(_: any, context: any) {
    function liquidity() {
      const isAddition = ref(false)

      const showAditionForm: () => void = () => {
        isAddition.value = true
      }

      const closeAditionForm: () => void = () => {
        isAddition.value = false
      }

      const showModal: (a: string) => void = (component) => {
        context.emit('show', component)
      }

      return {
        isAddition,
        showAditionForm,
        closeAditionForm,
        showModal,
      }
    }

    return {
      ...liquidity(),
    }
  },
})
</script>

<style lang="scss" scoped>
.liquidity {
  width: 500px;
  padding: 30px 0;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 8px 2px rgba($color: #000000, $alpha: 0.1);
}

// -------- Header -------- //
.liquidity__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 30px;
}

.liquidity__header-text {
  margin-right: 20px;
}

.liquidity__header-text-addition {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.liquidity__header-text-btn {
  width: 50px;
  height: 50px;
  border-radius: 0.3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 10px;
  background: transparent;

  &:hover {
    background: rgba($color: map-get($main-colors, second), $alpha: 0.1);
  }
}

.liquidity__header-text-btn-icon {
  width: 20px;
  height: auto;
  transform: rotate(90deg);
}

.liquidity__header-text-title {
  font-size: 28px;
}

.liquidity__header-text-subtitle {
  font-size: 20px;
  font-weight: 400;
}

.liquidity__header-btns {
  display: flex;
  align-items: center;
}

.liquidity__header-btn {
  width: 50px;
  height: 50px;
  border-radius: 0.3rem;
  background: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  &:not(:last-of-type) {
    margin-right: 10px;
  }

  &:hover {
    background: rgba($color: map-get($main-colors, second), $alpha: 0.1);
  }
}

.liquidity__header-btn-icon {
  width: 25px;
  height: auto;
  fill: $main-text-color;
}

// -------- Form -------- //
.liquidity__form-content {
  margin-bottom: 30px;
}

.liquidity__form-add-new {
  padding: 0 30px;
}

.liquidity__currency-form-item {
  &:first-of-type {
    margin-bottom: 20px;
  }
}

.liquidity__form-plus-icon-wrp {
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.liquidity__form-plus-icon {
  width: 15px;
  height: auto;
}

.liquidity__form-prompt {
  width: 100%;
  padding: 30px;
  background: rgba($color: map-get($main-colors, second), $alpha: 0.1);

  display: flex;
  align-items: center;
  justify-content: center;
}

.liquidity__form-bottom {
  padding: 0 30px;
}

.liquidity__form-btn {
  position: relative;
  width: 100%;
  padding: 10px 25px;
  border-radius: 0.5rem;
  background: map-get($main-colors, third);
  box-shadow: 0 3px 5px 2px rgba($color: #000000, $alpha: 0.1);
  overflow: hidden;

  font-size: 20px;
  font-weight: 700;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #000000, $alpha: 0.1);
    opacity: 0;
    transition: 0.1s;
  }

  &:hover::before {
    opacity: 1;
  }

  &:active {
    transform: translateY(2px);
  }
}
</style>
