<template>
  <div class="background" @click.self="closeModal()">
    <div class="modal-window">
      <div class="modal-window__content">
        <slot name="modalContent" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  setup(_: any, context: any) {
    const closeModal: () => void = () => {
      context.emit('close')
    }

    return {
      closeModal,
    }
  },
})
</script>

<style lang="scss" scoped>
@keyframes appearance {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
  background: rgba($color: #000000, $alpha: 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-window {
  width: 500px;

  background: #fff;
  border-radius: 0.5rem;

  animation: appearance 0.2s ease-in-out forwards;
  overflow: hidden;
}
</style>
