<template>
  <div class="toggle-btns">
    <nuxt-link
      v-for="btn in toggleBtns"
      :key="btn.id"
      ref="toggleBtn"
      class="toggle-btns__btn-item"
      :to="btn.link"
    >
      {{ btn.label }}
    </nuxt-link>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@nuxtjs/composition-api'

interface ToggleBtn {
  label: string
  link: {
    name: string
  }
  id: number
}

export default defineComponent({
  setup() {
    const toggleBtns = ref<ToggleBtn[]>([
      {
        label: 'Swap',
        link: { name: 'index-swap' },
        id: 1,
      },
      {
        label: 'Liquidity',
        link: { name: 'index-liquidity' },
        id: 2,
      },
    ])

    return {
      toggleBtns,
    }
  },
})
</script>

<style lang="scss" scoped>
.toggle-btns {
  border-radius: 0.5rem;
  overflow: hidden;

  display: flex;
}

.toggle-btns__btn-item {
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  background: map-get($main-colors, second);

  font-weight: 700;
  color: map-get($main-colors, third);

  overflow: hidden;
  transition: 0.3s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #fff, $alpha: 0.1);
    opacity: 0;
    transition: 0.1s;
  }

  &:hover::before {
    opacity: 1;
  }

  &.nuxt-link-active {
    background: map-get($main-colors, third);
    color: map-get($main-colors, second);
  }
}
</style>
