<template>
  <div class="connect-wallet">
    <header class="modal-header">
      <h1 class="modal-header__title">Connect Wallet</h1>
      <button class="modal-header__btn" @click.prevent="closeModal()">
        <CrossIcon class="modal-header__btn-icon" />
      </button>
    </header>
    <client-only>
      <CustomScroll>
        <div class="connect-wallet__content">
          <ul class="connect-wallet__content-list">
            <li
              v-for="wallet in walletsList"
              :key="wallet.id"
              class="connect-wallet__content-list-item"
            >
              <div class="connect-wallet__content-list-item-img-wrp">
                <img
                  :src="require(`@/assets/images/${wallet.img}`)"
                  class="connect-wallet__content-list-item-img"
                />
              </div>
              <h3 class="connect-wallet__content-list-item-title">
                {{ wallet.title }}
              </h3>
            </li>
          </ul>
        </div>
      </CustomScroll>
    </client-only>
    <div class="connect-wallet__bottom">
      <h3 class="connect-wallet__bottom-label">
        Haven’t got a crypto wallet yet?
      </h3>
      <a
        href="https://docs.pancakeswap.finance/get-started/connection-guide"
        class="connect-wallet__bottom-btn"
        target="_blank"
      >
        Learn How to Connect
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@nuxtjs/composition-api'
import CrossIcon from '@/assets/icons/cross.svg?inline'

interface WalletItem {
  title: string
  img: string
  id: number
}

export default defineComponent({
  components: {
    CrossIcon,
  },
  setup(_: any, context) {
    function connectWallet() {
      const walletsList = ref<WalletItem[]>([
        {
          title: 'Metamask',
          img: 'metamask.png',
          id: 1,
        },
        {
          title: 'WalletConnect',
          img: 'metamask.png',
          id: 2,
        },
        {
          title: 'Trust Wallet',
          img: 'metamask.png',
          id: 3,
        },
        {
          title: 'MathWallet',
          img: 'metamask.png',
          id: 4,
        },
        {
          title: 'TokenPocket',
          img: 'metamask.png',
          id: 5,
        },
        {
          title: 'Binance Chain',
          img: 'metamask.png',
          id: 6,
        },
        {
          title: 'SafePal',
          img: 'metamask.png',
          id: 7,
        },
        {
          title: 'Coin98',
          img: 'metamask.png',
          id: 8,
        },
      ])

      return {
        walletsList,
      }
    }

    const closeModal: () => void = () => {
      context.emit('close')
    }

    return {
      ...connectWallet(),
      closeModal,
    }
  },
})
</script>

<style lang="scss" scoped>
.connect-wallet__content {
  padding: 30px;
  max-height: calc(#{$modal-window-content-max-height} - 240px);
}

.connect-wallet__content-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.connect-wallet__content-list-item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 0 0 calc(100% / 2 - 20px);
  max-width: calc(100% / 2 - 20px);

  padding: 10px;
  border-radius: 0.2rem;
  cursor: pointer;

  &:hover {
    background: rgba($color: map-get($main-colors, second), $alpha: 0.1);
  }

  &:active {
    .connect-wallet__content-list-item-img-wrp,
    .connect-wallet__content-list-item-title {
      transform: translateY(2px);
    }
  }
}

.connect-wallet__content-list-item-img-wrp {
  width: 50px;
  margin-bottom: 5px;
}

.connect-wallet__content-list-item-img {
  width: 100%;
}

.connect-wallet__bottom {
  padding: 30px;
  margin-top: 30px;
  border-top: solid 1px rgba($color: map-get($main-colors, second), $alpha: 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.connect-wallet__bottom-label {
  margin-bottom: 15px;
}

.connect-wallet__bottom-btn {
  position: relative;
  width: 100%;
  padding: 10px 25px;
  border-radius: 0.5rem;
  background: map-get($main-colors, third);
  box-shadow: 0 3px 5px 2px rgba($color: #000000, $alpha: 0.1);
  overflow: hidden;

  font-size: 20px;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #000000, $alpha: 0.1);
    opacity: 0;
    transition: 0.1s;
  }

  &:hover::before {
    opacity: 1;
  }

  &:active {
    transform: translateY(2px);
  }
}
</style>
