<template>
  <div class="history">
    <header class="modal-header">
      <h1 class="modal-header__title">Recent Transactions</h1>
      <button class="modal-header__btn" @click.prevent="closeModal()">
        <CrossIcon class="modal-header__btn-icon" />
      </button>
    </header>
    <div class="history__content">
      <ul v-if="transactionsList.length" class="history__content-list">
        <li class="history__content-list-item"></li>
      </ul>
      <h3 v-else class="history__content-empty">There are no transactions</h3>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@nuxtjs/composition-api'
import CrossIcon from '@/assets/icons/cross.svg?inline'

export default defineComponent({
  components: {
    CrossIcon,
  },
  setup(_: any, context: any) {
    function history() {
      const transactionsList = ref([])

      return {
        transactionsList,
      }
    }

    const closeModal: () => void = () => {
      context.emit('close')
    }

    return {
      ...history(),
      closeModal,
    }
  },
})
</script>

<style lang="scss" scoped>
.history__content {
  padding: 30px;
}
</style>
