<template>
  <client-only>
    <CustomScroll>
      <div class="manage">
        <header class="modal-header">
          <h1 class="modal-header__title">Manage</h1>
          <button class="modal-header__btn" @click.prevent="closeModal()">
            <CrossIcon class="modal-header__btn-icon" />
          </button>
        </header>
        <div class="manage__toggle-btns">
          <button
            v-for="btn in toggleBtns"
            :key="btn.id"
            :class="{ 'manage__toggle-btn': true, active: btn.active }"
            @click.prevent="changeComponent(btn)"
          >
            {{ btn.label }}
          </button>
        </div>
      </div>
      <div class="manage__content">
        <transition name="manage-content" mode="out-in">
          <component :is="contentComponent" />
        </transition>
      </div>
    </CustomScroll>
  </client-only>
</template>

<script lang="ts">
import { defineComponent, ref } from '@nuxtjs/composition-api'
import Lists from '@/components/modal-window/manage/Lists.vue'
import Tokens from '@/components/modal-window/manage/Tokens.vue'
import CrossIcon from '@/assets/icons/cross.svg?inline'

interface ToggleBtn {
  label: string
  component: string
  active: boolean
  id: number
}

export default defineComponent({
  components: {
    CrossIcon,
    Lists,
    Tokens,
  },
  setup(_: any, context: any) {
    function manage() {
      const toggleBtns = ref<ToggleBtn[]>([
        {
          label: 'Lists',
          component: 'Lists',
          active: true,
          id: 1,
        },
        {
          label: 'Tokens',
          component: 'Tokens',
          active: false,
          id: 2,
        },
      ])
      const contentComponent = ref('Lists')

      const changeComponent: (a: ToggleBtn) => void = (btn) => {
        toggleBtns.value.forEach((item) => {
          item.active = false
        })
        btn.active = true
        contentComponent.value = btn.component
      }

      return {
        toggleBtns,
        contentComponent,
        changeComponent,
      }
    }

    const closeModal: () => void = () => {
      context.emit('close')
    }

    return {
      ...manage(),
      closeModal,
    }
  },
})
</script>

<style lang="scss" scoped>
.manage-content-enter,
.manage-content-leave-to {
  opacity: 0;
}

.manage-content-enter-active,
.manage-content-leave-active {
  transition: 0.2s ease-in-out;
}

.manage {
  display: flex;
  flex-direction: column;
  max-height: $modal-window-content-max-height;
}

.modal-header {
  margin-bottom: 15px;
}

.manage__toggle-btns {
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 15px;

  display: inline-flex;
  align-self: center;
}

.manage__toggle-btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  background: map-get($main-colors, second);

  font-weight: 700;
  color: map-get($main-colors, third);

  overflow: hidden;
  transition: 0.3s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #fff, $alpha: 0.1);
    opacity: 0;
    transition: 0.1s;
  }

  &:hover::before {
    opacity: 1;
  }

  &.active {
    background: map-get($main-colors, third);
    color: map-get($main-colors, second);
  }
}

.manage__content {
  padding: 0 30px 30px;
}
</style>
