<template>
  <div class="select">
    <header class="modal-header">
      <h1 class="modal-header__title">Select Token</h1>
      <button class="modal-header__btn" @click.prevent="closeModal()">
        <CrossIcon class="modal-header__btn-icon" />
      </button>
    </header>
    <div class="select__content">
      <div class="select__content-search-bar">
        <input
          v-model.trim="searchContent"
          type="text"
          class="select__content-search-bar-input"
          placeholder="Search name or paste address"
        />
      </div>
      <client-only>
        <CustomScroll>
          <ul class="select__content-items-list">
            <li
              v-for="item in filteredList"
              :key="item.id"
              class="select__content-item"
            >
              <div class="select__content-item-img-wrp">
                <img
                  :src="require(`@/assets/images/${item.img}`)"
                  class="select__content-item-img"
                />
              </div>
              <div class="select__content-item-text">
                <h3 class="select__content-item-title">{{ item.title }}</h3>
                <h5 class="select__content-item-subtitle">
                  {{ item.subtitle }}
                </h5>
              </div>
            </li>
          </ul>
        </CustomScroll>
      </client-only>
    </div>
    <div class="select__bottom">
      <button class="select__bottom-btn" @click.prevent="showModal('Manage')">
        Manage Tokens
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from '@nuxtjs/composition-api'
import CrossIcon from '@/assets/icons/cross.svg?inline'

interface SelectItem {
  title: string
  subtitle: string
  img: string
  id: number
}

export default defineComponent({
  components: {
    CrossIcon,
  },
  setup(_: any, context: any) {
    function select() {
      const selectList = ref<SelectItem[]>([
        {
          title: 'BNB',
          subtitle: 'BNB',
          img: 'coin.png',
          id: 1,
        },
        {
          title: 'Alpaca',
          subtitle: 'Alpaca',
          img: 'coin.png',
          id: 2,
        },
        {
          title: 'Belt',
          subtitle: 'Belt',
          img: 'coin.png',
          id: 3,
        },
        {
          title: 'BTCB',
          subtitle: 'BTCB Token',
          img: 'coin.png',
          id: 4,
        },
        {
          title: 'Bunny',
          subtitle: 'Pancake Bunny',
          img: 'coin.png',
          id: 5,
        },
        {
          title: 'BUSD',
          subtitle: 'BUSD Token',
          img: 'coin.png',
          id: 6,
        },
        {
          title: 'Cake',
          subtitle: 'PancakeSwap Token',
          img: 'coin.png',
          id: 7,
        },
        {
          title: 'EPS',
          subtitle: 'Ellipsis',
          img: 'coin.png',
          id: 8,
        },
      ])

      const searchContent = ref<string>('')

      const filteredList = computed(() => {
        return selectList.value.filter((item) => {
          return (
            item.title
              .toUpperCase()
              .includes(searchContent.value.toUpperCase()) ||
            item.subtitle
              .toUpperCase()
              .includes(searchContent.value.toUpperCase())
          )
        })
      })

      return {
        selectList,
        searchContent,
        filteredList,
      }
    }

    const closeModal: () => void = () => {
      context.emit('close')
    }

    const showModal: (a: string) => void = (component) => {
      closeModal()
      setTimeout(() => {
        context.emit('show', component)
      }, 200)
    }

    return {
      ...select(),
      closeModal,
      showModal,
    }
  },
})
</script>

<style lang="scss" scoped>
.select__content {
  padding: 30px 20px;
}

.select__content-search-bar {
  margin-bottom: 20px;
  padding: 0 10px;
}

.select__content-search-bar-input {
  padding: 10px 15px;
  width: 100%;
  border: solid 2px map-get($main-colors, second);
  border-radius: 0.5rem;
}

.select__content-items-list {
  max-height: calc(#{$modal-window-content-max-height} - 350px);
}

.select__content-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 0.3rem;
  cursor: pointer;

  &:hover {
    background: rgba($color: map-get($main-colors, second), $alpha: 0.1);
  }
}

.select__content-item-img-wrp {
  width: 40px;
  margin-right: 5px;
}

.select__content-item-img {
  width: 100%;
}

.select__content-item-title {
  font-size: 16px;
}

.select__content-item-subtitle {
  color: rgba($color: $main-text-color, $alpha: 0.5);
}

.select__bottom {
  padding: 30px;
  border-top: solid 1px rgba($color: map-get($main-colors, second), $alpha: 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.select__bottom-btn {
  position: relative;
  width: 100%;
  padding: 10px 25px;
  border-radius: 0.5rem;
  background: map-get($main-colors, third);
  box-shadow: 0 3px 5px 2px rgba($color: #000000, $alpha: 0.1);
  overflow: hidden;

  font-size: 20px;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #000000, $alpha: 0.1);
    opacity: 0;
    transition: 0.1s;
  }

  &:hover::before {
    opacity: 1;
  }

  &:active {
    transform: translateY(2px);
  }
}
</style>
