<template>
  <div class="settings">
    <header class="modal-header">
      <h1 class="modal-header__title">Settings</h1>
      <button class="modal-header__btn" @click.prevent="closeModal()">
        <CrossIcon class="modal-header__btn-icon" />
      </button>
    </header>
    <client-only>
      <CustomScroll>
        <div class="settings__content">
          <div class="settings__content-section">
            <div class="settings__content-section-overhead">
              <span class="settings__content-section-overhead-label">
                Global
              </span>
            </div>
            <div class="settings__content-section-inner">
              <h1 class="settings__content-section-title">
                Default Transaction Speed (GWEI)
              </h1>
              <div class="settings__content-section-item">
                <button
                  v-for="btn in speedBtns"
                  :key="btn.id"
                  :class="{
                    'settings__content-section-item-radio-btn': true,
                    selected: btn.selected,
                  }"
                  @click.prevent="selectBtn(btn, speedBtns)"
                >
                  {{ btn.label }} ({{ btn.amount }})
                </button>
              </div>
            </div>
          </div>
          <div class="settings__content-section">
            <div class="settings__content-section-overhead">
              <span class="settings__content-section-overhead-label">
                Swaps and Liquidity
              </span>
            </div>
            <div class="settings__content-section-inner">
              <h1 class="settings__content-section-title">
                Slippage Tolerance
              </h1>
              <div class="settings__content-section-item">
                <button
                  v-for="btn in toleranceBtns"
                  :key="btn.id"
                  :class="{
                    'settings__content-section-item-radio-btn': true,
                    selected: btn.selected,
                  }"
                  @click.prevent="selectBtn(btn, toleranceBtns)"
                >
                  {{ btn.amount }}%
                </button>
                <input
                  type="text"
                  class="settings__content-section-item-input"
                  placeholder="0.50"
                  pattern="^[0-9]*[.,]?[0-9]*$"
                />
                <span class="settings__content-section-item-percent-sign">
                  %
                </span>
              </div>
              <div class="settings__content-section-item space-between">
                <h3 class="settings__content-section-item-name">
                  TX deadline (mins)
                </h3>
                <input
                  type="text"
                  class="settings__content-section-item-input"
                  placeholder="20"
                />
              </div>
              <div
                v-for="setting in settingsWithSwitch"
                :key="setting.id"
                class="settings__content-section-item space-between"
              >
                <h3 class="settings__content-section-item-name">
                  {{ setting.name }}
                </h3>
                <button
                  :class="{
                    'settings__content-section-item-switch-btn': true,
                    selected: setting.selected,
                  }"
                  @click.prevent="switchSetting(setting)"
                >
                  <span
                    class="settings__content-section-item-switch-btn-slider"
                  />
                </button>
              </div>
            </div>
          </div>
        </div>
      </CustomScroll>
    </client-only>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@nuxtjs/composition-api'
import CrossIcon from '@/assets/icons/cross.svg?inline'

interface SwitchSetting {
  name: string
  selected: boolean
  id: number
}

interface RadioBtn {
  label?: string
  amount: number
  selected: boolean
  id: number
}

export default defineComponent({
  components: {
    CrossIcon,
  },
  setup(_: any, context: any) {
    function radioButtons() {
      const speedBtns = ref<RadioBtn[]>([
        {
          label: 'Standart',
          amount: 5,
          selected: false,
          id: 1,
        },
        {
          label: 'Fast',
          amount: 6,
          selected: false,
          id: 2,
        },
        {
          label: 'Instant',
          amount: 7,
          selected: false,
          id: 3,
        },
      ])

      const toleranceBtns = ref<RadioBtn[]>([
        {
          amount: 0.1,
          selected: false,
          id: 1,
        },
        {
          amount: 0.5,
          selected: false,
          id: 2,
        },
        {
          amount: 1,
          selected: false,
          id: 3,
        },
      ])

      const selectBtn: (a: RadioBtn, b: RadioBtn[]) => void = (btn, list) => {
        const wasSelected = list.filter((btn) => {
          return btn.selected
        })
        btn.selected = !btn.selected
        if (wasSelected.length) {
          wasSelected[0].selected = false
        }
      }

      return {
        speedBtns,
        toleranceBtns,
        selectBtn,
      }
    }

    function switchButtons() {
      const settingsWithSwitch = ref<SwitchSetting[]>([
        {
          name: 'Expert mode',
          selected: false,
          id: 1,
        },
        {
          name: 'Disable Multihops',
          selected: false,
          id: 2,
        },
        {
          name: 'Flippy Sounds',
          selected: false,
          id: 3,
        },
      ])

      const switchSetting: (a: SwitchSetting) => void = (setting) => {
        setting.selected = !setting.selected
      }

      return {
        settingsWithSwitch,
        switchSetting,
      }
    }

    const closeModal: () => void = () => {
      context.emit('close')
    }

    return {
      ...switchButtons(),
      ...radioButtons(),
      closeModal,
    }
  },
})
</script>

<style lang="scss" scoped>
.settings {
  padding-bottom: 30px;
}

.settings__content {
  padding: 30px;
  max-height: calc(#{$modal-window-content-max-height} - 90px);
}

.settings__content-section {
  &:not(:last-of-type) {
    margin-bottom: 30px;
  }
}

.settings__content-section-overhead {
  display: inline-block;
  padding: 10px;
  background: map-get($main-colors, fourth);
  border-radius: 0.3rem;
  margin-bottom: 20px;
}

.settings__content-section-overhead-label {
  font-size: 14px;
  font-weight: 700;
  color: map-get($main-colors, second);
}

.settings__content-section-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.settings__content-section-item {
  display: flex;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }

  &.space-between {
    justify-content: space-between;
  }
}

.settings__content-section-item-radio-btn {
  position: relative;
  padding: 10px 20px;
  background: map-get($main-colors, second);
  border-radius: 2rem;

  font-size: 16px;
  font-weight: 700;
  color: map-get($main-colors, third);

  transition: 0.1s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba($color: #fff, $alpha: 0.1);
    opacity: 0;
    transition: 0.1s ease-in-out;
  }

  &:hover::before {
    opacity: 1;
  }

  &:not(:last-of-type) {
    margin-right: 10px;
  }

  &.selected {
    background: map-get($main-colors, third);
    color: map-get($main-colors, second);
  }
}

.settings__content-section-item-input {
  width: 80px;
  padding: 10px 20px;
  background: map-get($main-colors, second);
  border-radius: 2rem;
  border: none;

  font-size: 16px;
  font-weight: 700;
  color: map-get($main-colors, third);

  margin: 0 5px 0 10px;
  transition: 0.1s ease-in-out;
}

.settings__content-section-item-percent-sign {
  font-weight: 700;
  font-size: 18px;
}

.settings__content-section-item-name {
  font-size: 16px;
}

.settings__content-section-item-switch-btn {
  position: relative;

  width: 70px;
  height: 40px;
  background: map-get($main-colors, second);
  border-radius: 2rem;
  transition: 0.2s ease-in-out;

  &.selected {
    .settings__content-section-item-switch-btn-slider {
      left: calc(100% - 35px);
      background: map-get($main-colors, third);
    }
  }
}

.settings__content-section-item-switch-btn-slider {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);

  width: 30px;
  height: 30px;
  background: rgba($color: #fff, $alpha: 0.3);
  border-radius: 2rem;

  transition: left 0.2s ease-in-out;
}
</style>
