@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $main-text-color;

  background-color: map-get($main-colors, first);
}

button,
input {
  font-family: inherit;
  font-size: 14px;
  outline: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $main-text-color;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

// -------- Modal Header -------- //
.modal-header {
  background: rgba($color: map-get($main-colors, second), $alpha: 0.1);
  padding: 20px 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header__title {
  font-size: 28px;
}

.modal-header__btn {
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;

  &:hover {
    .modal-header__btn-icon {
      fill: map-get($main-colors, second);
    }
  }
}

.modal-header__btn-icon {
  width: 20px;
  height: auto;
  fill: rgba($color: map-get($main-colors, second), $alpha: 0.5);
}

// -------- Keyframes -------- //
@keyframes appear {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

// -------- Transitions -------- //
.modal-window-enter,
.modal-window-leave-to {
  opacity: 0;
}

.modal-window-enter-active,
.modal-window-leave-active {
  transition: 0.2s ease-in-out;
}
