$main-text-color: #2B2D35;
$main-colors: (
  first: #FAFAFA,
  second: #2B2D35,
  third: #6AFB89,
  fourth: #A5E9F0,
);

$modal-window-content-max-height: 80vh;
$appear-animation: appear 0.5s ease-in-out forwards;
