<template>
  <div class="main-page">
    <div class="container">
      <div class="main-page__inner">
        <transition name="modal-window">
          <ModalWindow v-show="modalVisible" @close="closeModal()">
            <template #modalContent>
              <component
                :is="contentComponent"
                @close="closeModal()"
                @show="(component) => showModal(component)"
              />
            </template>
          </ModalWindow>
        </transition>
        <div class="main-page__toggle-btns">
          <ToggleBtns />
        </div>
        <div class="main-page__child">
          <nuxt-child @show="(component) => showModal(component)"></nuxt-child>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@nuxtjs/composition-api'
import ToggleBtns from '@/components/ToggleBtns.vue'

import ModalWindow from '@/components/ModalWindow.vue'
import Settings from '@/components/modal-window/Settings.vue'
import Select from '@/components/modal-window/Select.vue'
import ConnectWallet from '@/components/modal-window/ConnectWallet.vue'
import History from '@/components/modal-window/History.vue'
import Manage from '@/components/modal-window/Manage.vue'
import { close, show } from '@/functions/modal-window'

export default defineComponent({
  components: {
    ToggleBtns,
    ModalWindow,
    Settings,
    Select,
    ConnectWallet,
    History,
    Manage,
  },
  setup() {
    function useModalWindow() {
      const modalVisible = ref(false)
      const contentComponent = ref('Settings')

      const closeModal: () => void = () => {
        modalVisible.value = close()
      }

      const showModal: (a: string) => void = (component) => {
        modalVisible.value = show()
        contentComponent.value = component
      }

      return {
        modalVisible,
        contentComponent,
        closeModal,
        showModal,
      }
    }

    return {
      ...useModalWindow(),
    }
  },
})
</script>

<style lang="scss" scoped>
.fade-to-top-enter,
.fade-to-top-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

.fade-to-top-enter-active,
.fade-to-top-leave-active {
  transition: 0.3s ease-in-out;
}

.main-page__inner {
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.main-page__toggle-btns {
  animation: $appear-animation;
  margin-bottom: 30px;
}
</style>
